* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: fixed;
}

/* Style for the header main contents */
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

/* Style for the burger menue */
.burger-menu {
    /* center the lines */
    display: flex;
    justify-content: center;
    align-items: center;
    /* additional styles */
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.burger_Icon {
    position: relative;
    width: 30px;
    height: 24px;
}

.burger_line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s opacity 0.3s;
}

/* Changing the placements of the 3 lines */
.burger_line:nth-child(1) {
    top:0;
}

.burger_line:nth-child(2) {
    top: 45%;
}

.burger_line:nth-child(3) {
    bottom: 0;
}

.burger-menu.active .burger_line:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.burger-menu.active .burger_line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger_line:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

/* Styling the shortcut items part */
.shortcutItems_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

/* Styling the profile picture part */
.shortcutItems_navbar_profile {
    background-color: #333;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-initials {
    text-transform: uppercase;
}

/* Styling the footer section */
footer {
    display: fixed;
    position: absolute;
    bottom: 0;
    width: 96.9vw;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSection ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.aboutSection ul li {
    cursor: pointer;
}

.aboutSection ul li a {
    all: unset;
    font-size: 16px;
}

.settings {
    cursor: pointer;
}

.searchChangeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-right: 170px;
}

.Country {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: default;
}

.Country_name {
    text-transform: uppercase;
}

.SearchChangeButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.SearchButton {
    width: 80px;
    height: 8px;
    background-color: #333;
    cursor: pointer;
}

.button_red {
    background-color: #EB4335;
}

.button_yellow {
    background-color: #FBBC05;
}

.button_green {
    background-color: #34A853;
}

.button_blue {
    background-color: #4285F4;
}

/* Style for the main elements */
/* Creating the background */
.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.backgroundText {
    text-transform: uppercase;
    font-size: 250px;
    letter-spacing: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #55575A;
    opacity: 0.15;
}

/* Style for the main content */
.mainContent {
    height: 87%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.greetingwords {
    display: flex;
    flex-direction: column;
}

span.userName {
    font-size: 22px;
    font-weight: 700;
}

span.morningGreeting {
    font-size: 18px;
    font-weight: 300;
    padding-left: 15px;
}

/* search bar */
input[type="text"] {
    background-color: transparent;
    border: none;
    width: 630px;
    height: 47px;
    z-index: 1;
    position: relative;
    bottom: 50px;
    border-radius: 30px;
    font-size: 25px;
    padding-left: 55px;
}

.searchicon img {
    width: 35px;
    padding-top: 3px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 15px;
    width: 650px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}