* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: fixed;
}

/* Style for the header main contents */
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

/* Style for the burger menue */
.burger-menu {
    /* center the lines */
    display: flex;
    justify-content: center;
    align-items: center;
    /* additional styles */
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.burger_Icon {
    position: relative;
    width: 30px;
    height: 24px;
}

.burger_line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s opacity 0.3s;
}

/* Changing the placements of the 3 lines */
.burger_line:nth-child(1) {
    top:0;
}

.burger_line:nth-child(2) {
    top: 45%;
}

.burger_line:nth-child(3) {
    bottom: 0;
}

.burger-menu.active .burger_line:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.burger-menu.active .burger_line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger_line:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

/* Styling the shortcut items part */
.shortcutItems_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

/* Styling the profile picture part */
.shortcutItems_navbar_profile {
    background-color: #333;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-initials {
    text-transform: uppercase;
}

/* Styling the footer section */
footer {
    display: fixed;
    position: absolute;
    bottom: 0;
    width: 96.9vw;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
}

.aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSection ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.aboutSection ul li {
    cursor: pointer;
}

.aboutSection ul li a {
    all: unset;
    font-size: 16px;
}

.settings {
    cursor: pointer;
}

.Country {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: default;
}

.Country_name {
    text-transform: uppercase;
}